body 
{
width:100%;
height:100vh;
margin-left:0px;
margin-right:0px;
margin-top:0px;
margin-bottom:0px;
background-color:#4A4A4A;
overflow-x:hidden;
}
html
{
height:100%;
width:100%;
}
a
{
cursor:pointer;
}
/***************
 * Login style *
 **************/
#login
{
width:100%;
height:100%;
position:fixed;
z-index:9999;
background-size:100% 100%;
}
#loginTitle
{
font-family:sans-serif,tahoma;
background-color:#000;
width:100%;
opacity:0.78;
margin-top:0px;
text-align:center;
color:white;
font-size:350%;
}

#liloForm
{
position:absolute;
text-align:center;
top:80%;
width:100%;
color:#FFF;
padding:0;
}
#liloForm input
{
text-align:center;
width:100%;
margin-right:0px;
border:0;
background-color:#000;
opacity:0.98;
color:#FFF;
font-size:32px;
}
#liloForm button
{
visibility:hidden;
}

/********************
 * Chat based style *
 *******************/
#chat
{
margin-top:32px;
margin-bottom:48px;
margin-right:40%;
}
#emote
{
width:32px;
height:32px;
margin-top:16px;
}
/**************
 * Call based *
 *************/
#call
{
width:40%;
position:fixed;
font-family:sans-serif;
right:0;
z-index:4;
height:100%;
font-size:50%;
background-color:#000;
top:24px;
color:white;
text-align:center;
opacity:0.9;
overflow:scroll;
}
#call video
{
width:100%;
height:128px;
}
#imgShare
{
margin-top:16px;
}
iframe
{
margin-top:15px;
width:480px;
height:320px;
}
li
{
font-family:sans-serif,monospace,tahoma;
margin-left:-30px;
list-style:none;
text-align:left;
color:white;
font-size:90%;
}
#title
{
width:100%;
opacity:0.9;
height:24px;
top:0px;
position:fixed;
z-index:2;
color:#FFFFFF;
background-color:#000000;
text-align:left;
font-family:sans-serif;
font-size:20px;
}

/**
 *UI*/
#userName
{
color:#90C4D9;
text-align:left;
margin-bottom:-15px;
overflow-x:hidden;
font-family:sans-serif;
}
h3
{
color:white;
font-family:sans-serif;
text-align:center;
background-color:#000000;
}
#title p
{
font-family:sans-serif;
text-align: center;
}
#title a
{
text-align:left;
color:#A1D0D9;
text-decoration:none;
}
#chatBar 
{
position:fixed;bottom: 0; width: 100%; height:32px; background-color:#000; opacity:0.8;
}
#chatBar input
{ 
border: 0;
width: 95%;
z-index:9;
height:32px;
color:#FFF;
font-size:120%;
opacity:0.8;
bottom:0; 
left:1%;
right:3%;
background-color:#000;
}
form button 
{
visibility:hidden;
}
#options h1
{
font-family:sans-serif,monospace,tahoma;
text-align:center;
}
#options p
{
font-family:monospace;
font-size:140%;
text-align:center;
}
#options a
{
color:#00FFF6;
font-style:bold;
text-align:center;
}
#customCSS
{
width:100%;
height:320px;
}

#smiles
{
position:fixed;
bottom:0;
right:0;
width:3%;
z-index:2;
color:white;
font-size:24px;
}
#smileContainer
{
background-color:black;
position:fixed;
opacity:0.9;
overflow-y:scroll;
width:50%;
height:50%;
bottom:32px;
right:0;
}
#sml
{
color:white;
font-family:sans-serif;
}

#usersOnline
{
position:fixed;
top:32px;
z-index:4;
text-align:center;
font-size:120%;
font-family:tahoma;
background-color:black;
width:30%;
float:left;
opacity:0.9;
color:white;
}
#history
{
position:relative;
margin-top:24px;
width:100%; 
font-family:sans-serif;
font-size:80%;
font-style:bold;
background-color:#A1D0D9;
color:#2D2D2D;
text-align:center;
}
